<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ExamManagement</display-name>
  <servlet>
    <servlet-name>QuestionAddServlet</servlet-name>
    <servlet-class>control.QuestionAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionQueryServlet</servlet-name>
    <servlet-class>control.QuestionQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionAddForAjax</servlet-name>
    <servlet-class>control.QuestionAddForAjax</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>QuestionAddServlet</servlet-name>
    <url-pattern>/QuestionAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionQueryServlet</servlet-name>
    <url-pattern>/QuestionQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionAddForAjax</servlet-name>
    <url-pattern>/QuestionAddForAjax</url-pattern>
  </servlet-mapping>
  
</web-app>